body {
  font-family: Montserrat;
}

h1 {
  font-family: "Montserrat-Black";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #28df99;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/*Navigation Bar*/
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/*Download-Button*/
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}


/*Download-Button*/
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/*Add Player */
.form-container{
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.hg{
  background-color: #28df99;
}

.Heading{
  color: #28df99;
}

.input{
  color: #28df99;
}

.avatar{
  width:100px;
  height: 100px;
  border-radius: 50%;
}

.table{
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.table thead tr{
  background-color: #28df99;
}

.table thead tr{
  color: #ffffff;
}

.table tbody tr:last-of-type{
  border-bottom: 2px solid #28df99;
}

.table tbody tr.active-row{
  font-weight:bold;
  color: #28df99;
}

.score-table{
  text-align: center;
  color: #28df99;
}

.table img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Matches */
.match-heading{
  color: #28df99;
  text-align: center;
}
