html, body{
    margin: 0px;
}

.header-bar {
    background-color:rgb(92, 194, 92);
    height: 80px;
}

.header-bar .container div {
    font-size: 20px;
    margin-top: 20px;
    vertical-align: end;
}

.header-bar .container .pull-left {
    display: inline;
    float: left;
}
.header-bar .container .pull-right {
    display: inline;
    float: right;
}

.header-bar .container a {
    color: white;
}

.players-list ul li {
    margin-top: 20px;
}

.top-view-id{
    color: white;
    z-index: 999999 !important;
}

tr:nth-child(4) {
    border-bottom: 2px solid #28df99;
}

body  {
    background: linear-gradient(to bottom right, #28df99, #6fddb3);
}

#Table .container {
    background-color: white;
    padding: 0;
}

.padding {
    height: 50px;
}

.pad-full-body{
    height: 100vh;
}

.matches-pages-only .navigation-bar{
    height: 80px;
    color: white;
}

.matches-pages-only .avoid-pading {
    padding-bottom:0px !important ;
}

.pointer-only-page ul {
    cursor: pointer;
}

.waves-effect{
    color: white;
    background-color: rgb(240, 136, 136);
    margin-top: 20px;
}

.validate{
    color: green;
}

label{
    color: rgb(240, 136, 136);
}